.default-tile {
    cursor: pointer;
}

.default-tile:hover {
    box-shadow: 10px 10px 8px 10px #888888;
}

.default-image {
    margin: auto;
    height: 8rem;
}

.default-icon {
    margin: auto;
    color: #000;
    font-size: 2rem;
}

.default-outcomes {
    display: flex;
    flex-direction: row;
    margin: 8px 0 0 0;
}

.default-outcome-button {
    margin: auto;
    cursor: pointer;
}

.default-outcome-button:hover {
    color: orange;
}

.default-outcome-button-element {

}

.default-outcome-button-icon {
    font-size: 1.2rem;
}

.default-outcome-button-label {

}