.deft-large {
    width: 100%;
    aspect-ratio: auto;
}

.deft-content {

}

.mw-tiles-item-container {
    height: auto !important;
}

.mw-tiles {
    margin-top: 1rem;
}
.mw-tiles-item {
    cursor: pointer;
    overflow: hidden;
}
.mw-tiles-item:hover img{
    transform: scale(1.1,1);
    transition: all 0.3s;
}

.mw-tiles-item:not(:hover) img{
    transition: all 0.3s;
}

.mw-tiles-item:hover .ft-link {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.ft-link {
    padding: 0 1em 1em 1em !important;
}