.hotlink {
    border: 1px solid #cccccc;
    box-shadow: none;
    height: fit-content;
    margin-bottom: 1em;
    margin-right: 1em;
    perspective: 800px;
    position: relative;
}
.hotlink-header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.hotlink-header-icon {
    color: #fefefe;
    margin: auto 0.1rem auto 0.1rem;
    font-size: 1rem;
    top: 0 !important;
    flex-grow: 0;
}

.hotlink-header-label {
    color: #fefefe;
    font-size: 1.1rem;
    margin-left: 1rem;
    flex-grow: 0;
    margin-right: auto;
    cursor: pointer;
}

.hotlink-header-label:hover {
    text-decoration: underline;
    font-weight: 500;
}

.hotlink-header-deadlabel {
    color: #fefefe;
    font-size: 1.1rem;
    margin-left: 1rem;
    flex-grow: 0;
    margin-right: auto;
}

.hotlink-header-button {
    color: #fefefe;
    margin: auto 0.1rem auto 0.1rem;
    font-size: 1rem;
    top: 0 !important;
    cursor: pointer;
    flex-grow: 0;
    z-index: 10;
}

.hotlink-links {
    display: inline;
    flex-direction: row;
    padding: 0.3rem 1rem 0.3rem 1rem;
    min-height: 70px;
}

.hotlink-link {
    cursor: pointer;
    font-size: 1rem;
}

.hotlink-link:hover {
    text-decoration: underline;
    font-weight: 500;
}

.hotlink-menuitems {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-top: 1px solid #aaa;
}

.hotlink-menuitem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
} 

.hotlink-menuitem:first-of-type{
    margin-top: 1rem;
}

.hotlink-menuitem-label {
    flex-grow: 1; 
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.hotlink-menuitem-chevron {
    flex-grow: 0; 
    color: #328e3f;
    top: 0 !important;
    margin: auto;
    margin-top: 0;
    font-size: 1.4rem;
}

.hotlink-menuitem:hover .hotlink-menuitem-label {
    text-decoration: underline;
    font-weight: 500;
}

.hotlink-menuitem:hover .hotlink-menuitem-chevron {
    transform: translate(5px, 0);
    transition: all 0.3s;
}

.hotlink-menuitem:not(:hover) .hotlink-menuitem-chevron {
    transform: translate(-5px, 0);
    transition: all 0.3s;
}

.hotlink-menuitem-all {
    color: #328e3f;
    font-size: 1rem;
    cursor: pointer;
}

.hotlink-menuitem-all:hover {
    text-decoration: underline;
    font-weight: 500;
}