.picture-article {
    cursor: pointer;
}

.picture-article-link {
    padding: 0 1em 1em 1em !important;
    color: #096f48
}

.mw-tiles-item-container {
    height: auto !important;
}

.picture-article-image {
    height: 185px;
    overflow: hidden;
}

.picture-article-image-image{
    width: 100%;
    aspect-ratio: auto;
}

.picture-article {
    cursor: pointer;
}

.picture-article:hover img{
    transform: scale(1.1,1);
    transition: all 0.3s;
}

.picture-article:not(:hover) img{
    transition: all 0.3s;
}

.picture-article:hover .picture-article-link {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    font-weight: 500;
}